# Eclipse project files
.settings/

# Compiled Java bytecode
target/

# Cucumber reports
target/cucumber-reports/

# Test output and logs
*.log
*.html

# IDE-specific files and directories
.vscode/
*.iml
.DS_Store

# Editor backup files
*~